table{
    border: 1px soli blue;
    border-collapse: collapse;
}
td{
    border: 1px solid red;
    padding: 4px;

}
th{
     border: 1px solid red;
     padding: 4px;
}
th{
    border: 1px solid red;
    padding: 4px;

}
